
{{#if isShowingModal}}
<button class="modal-button" onclick={{action (action 'toggleModal')}}>X</button>
<div class="user-name">{{this.user.name}}</div>
<div class="user-username">{{this.user.username}}</div>
<div class="user-email">{{this.user.email}}</div>
{{/if}}