// Global Styles
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #389f81;
}

/* Header Styles */
header {
    height: 60px;
    background-image: linear-gradient(to top, #2c6957, #093526);
}

.title {
    letter-spacing: .2rem;
}

/* Main Content Styles */
.post-container {
    border: 3px #389f81;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-content: center;
    background-image: linear-gradient(to bottom, #2c6957, #093526);
}

/* Post Styles */
.post {
    max-width: 400px;
    margin: auto;
    flex-direction: row;
    background-color: black;
}

.post-title {
    color: #d8c58c;
}

.post-author {
    font-weight: bold;
}

.post-body {
    font-style: italic;
    word-wrap: break-word;
}

.user-info {
    float: left;
}

.comment-body {
    border-style: inset;
}

/* Page Pagination Button Styles */
footer {
    grid-column-start: 2;
    grid-column-end: 3;
}

button {
    color: white;
    background-image: linear-gradient(to bottom left,#dc4e71, #fee800);
    border: none;
}

/* Modal Styles */
.modal-button {
    float: right;
}

/* Styles from ember-modal-dialog */
.ember-modal-dialog {
    z-index: 51;
    position: fixed;
  }
  
  .ember-modal-dialog.emd-in-place {
    position: static;
  }
  
  .ember-modal-wrapper.emd-static.emd-wrapper-target-attachment-center .ember-modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center .ember-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ember-modal-wrapper.emd-animatable .ember-modal-dialog {
    position: relative;
  }
  
  .ember-modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .ember-modal-dialog {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px #222;
    padding: 10px;
  }
  .ember-modal-overlay.translucent {
    background-color: rgba(128, 128, 128, .77);
  }

