/* Header Styles */
header {
    height: 60px;
    background-color: purple;
}

/* Main Content Styles */
.post-container {
    border-style: inset;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-content: center;
}

/* Post Styles */
.post {
    max-width: 400px;
    margin: auto;
    flex-direction: row;
}

.post-title {
    color: purple;
}

.post-author {
    font-weight: bold;
}

.post-body {
    font-style: italic;
    word-wrap: break-word;
}

/* Page Pagination Button Styles */
footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Modal Styles */
@import '../../node_modules/ember-modal-dialog/app/styles/ember-modal-dialog/ember-modal-structure.css';
@import '../../node_modules/ember-modal-dialog/app/styles/ember-modal-dialog/ember-modal-appearance.css';