<div class="container">
  <header>
    <title>Izea Ember Blog</title>
    <a class="title" href="https://github.com/DoleTM/IzeaEmberBlog">Izea Ember Blog</a>
  </header>
  {{#page-pagination class="post-container" items=model as |posts|}}
    {{#each posts as |post|}}
      <Post class="post" @post={{post}} {{action (action "toggleModal")}}/>
    {{/each}}
  {{/page-pagination}}
</div>