<div class="container">
  <header>
    <title>Izea Ember Blog</title>
    <div>
        <h1>Izea Ember Blog</h1>
    <a href="https://github.com/DoleTM/IzeaEmberBlog">Github</a>
    </div>
  </header>

  <button {{action (action 'toggleModal')}}>Open Modal</button>
    {{#if isShowingModal}}
      {{#modal-dialog onClose=(action 'toggleModal')
        targetAttachment='center'
        translucentOverlay=true
      }}
        <Modal class="modal" @modal={{modal}}/>
      {{/modal-dialog}}
    {{/if}} 
    {{#page-pagination class="post-container" items=this.model as |posts|}}
      {{#each posts as |post|}}
        <Post class="post" @post={{post}}/>
      {{/each}}
    {{/page-pagination}}
</div>