<div class="container">
    <header class="top">
        <title>Izea Ember Blog</title>
        <a href="https://github.com/DoleTM/IzeaEmberBlog">Github</a>
    </header>
    
<div class="post-container">
{{#each this.model as |post|}}
<div class="post">
    <h2 class="post-title">{{post.title}}</h2>
    <aside class="post-author">{{post.userId}}</aside>
    <article class="post-body">{{post.body}}</article>
</div>
{{/each}}
</div>
    {{!-- <section>
        <div class="post-title">Div1</div>
        <div>Div2</div>
        <div>Div3</div>
    </section>
    <section>
        <div>Div4</div>
        <div>Div5</div>
        <div>Div6</div>
    </section>
    <section>
        <div>Div7</div>
        <div>Div8</div>
        <div>Div9</div>
    </section>
    --}}
</div>

{{outlet}}